n8n/post-deploy-handler.workflow.json
{
  "name": "101-DevOps",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-cicd-events",
        "options": {}
      },
      "id": "deec72b8-cd15-4161-b1a1-bc9e9423954c",
      "name": "Incoming CI/CD Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -704,
        160
      ],
      "webhookId": "b3f32d34-aa03-4280-b756-0fe7f1c9bcad"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.body.status || $json.status}}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3cefdc99-be5e-4371-b4c2-0919e1c71cd2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.body.status || $json.status}}",
                    "rightValue": "failure",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "640807b6-88fb-445a-ace7-3e212b25594d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failure"
            }
          ]
        },
        "options": {}
      },
      "id": "d558f35f-7dfe-4bbd-810c-e7f7dd67ceb9",
      "name": "Route by Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -416,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "192fb479-3f05-410b-a5db-24986f740f9f",
              "name": "text",
              "value": "=={{\"DEPLOY SUCCESS\\nRepo: \" + $json.body.repository + \"\\nBranch: \" + $json.body.branch + \"\\nActor: \" + $json.body.actor + \"\\nSHA: \" + $json.body.sha + \"\\nRun: \" + $json.body.run_number + \"\\nURL: \" + $json.body.run_url + \"\\nCommit: \" + $json.body.commit_message}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9929ecae-c3be-45e7-84a7-003d82306635",
      "name": "Build Success Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27ab33eb-f28a-498c-bd49-80a9e53b332d",
              "name": "text",
              "value": "={{\"DEPLOY FAILURE\\nRepo: \" + $json.body.repository + \"\\nBranch: \" + $json.body.branch + \"\\nActor: \" + $json.body.actor + \"\\nSHA: \" + $json.body.sha + \"\\nRun: \" + $json.body.run_number + \"\\nURL: \" + $json.body.run_url + \"\\nCommit: \" + $json.body.commit_message}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ true }}",
        "options": {}
      },
      "id": "bf220ab0-22da-46cb-87db-a977150b8cbb",
      "name": "Build Failure Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f609121a-a812-458e-a04c-7f966c6a8810",
              "name": "content",
              "value": "=={{\"CI/CD event received\\nStatus: \" + ($json.body?.status || $json.status || \"unknown\")}}",
              "type": "string"
            },
            {
              "id": "a10f7145-8a54-43e2-b755-29f56445dc8f",
              "name": "=",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c78a161e-49a8-41b2-a887-80af415be1e9",
      "name": "Build Fallback Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_NOTIFY_WEBHOOK_URL}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$json.text || \"CI/CD event received\"}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2ed85b85-57b5-429c-864e-017748483727",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Incoming CI/CD Event": {
      "main": [
        [
          {
            "node": "Route by Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Status": {
      "main": [
        [
          {
            "node": "Build Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Message": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Failure Message": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Fallback Message": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "LYPNwt9W7UU1xh1L"
  },
  "versionId": "87cbfb74-0a6c-4766-bc53-54db7b41bc35",
  "meta": {
    "instanceId": "dbab7d400f9ccd5c653b8be33f9440a3b376c3cfb3d6a69a9ea08c4f52b49290"
  },
  "id": "LYPNwt9W7UU1xh1L",
  "tags": []
}